<div class="home">
<section class="primary-header">
<h1 class="primary">Share Code In Real Time</h1>
<h2 class="secondary">An online code editor for interviews, troubleshooting, teaching & more…
</h2>

{{#if user}}
<div class="aligncenter">
<a href="/createTask" class="btn-primary">Share Code Now</a>
<p class="emote">
    Get Started Sharing Code Now!
</p>
</div>

{{else}}

<div class="aligncenter">
<a href="/register" class="btn-primary">Register Today</a>
<p class="emote">
    Share code for free forever.
</p>
</div>
{{/if}}
<div class="aligncenter">
    <div class="col-md-12" style="padding: 4rem;">
    <img src="https://codeshare.io/-/img/example-code.gif?v=v1.30.0" class="primary-gif" />
    </div>
    </div>
</section>
</div>
